<!DOCTYPE html>
{% extends 'main.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Delete Data {% endblock %}</title>
</head>
<body>

    {% block content %}
        <form action="." method="POST">
            {% csrf_token %}
            <H2>Are sure to delete "{{ object.title }}"?</H2>
            <p>
                <input type="submit" value="Yes">
                <a href="../">Cancel</a>
            </p>
        </form>
    {% endblock %}
    
</body>
</html>